html,
body {
  padding: 0;
  margin: 0;
}

body {
  color: #000; /* Cambiado a negro */
  font-family: Arial, sans-serif; /* Cambiado el tipo de letra */
  background-image: linear-gradient(
    to bottom,
    rgb(67, 156, 200),
    /* Cambiado el tono de azul */ rgb(115, 193, 218)
      /* Cambiado el tono de azul */
  );
  background-attachment: fixed;
}

header {
  color: #000; /* Cambiado a negro */
}

.ExchangeRate-header {
  margin: 0;
  padding: 0;
  text-align: center;
}

.currencyCode {
  background: none;
  color: #000; /* Cambiado a negro */
  border-color: #000; /* Cambiado a negro */
  border-radius: 0.75em;
  padding: 0.25em;
  vertical-align: middle;
}

.ExchangeRate-table,
.ExchangeRate-form {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.ExchangeRate-form input {
  font-size: 2.8em;
  background: none;
  border: none;
  font-family: Arial, sans-serif; /* Cambiado el tipo de letra */
  color: #000; /* Cambiado a negro */
  text-align: center;
  max-width: 100%;
}

.ExchangeRate-table td {
  padding-bottom: 1em;
}

.ExchangeRate-table td:nth-of-type(1) {
  padding-right: 2.5em;
}

.ExchangeRate-table td:nth-of-type(2) {
  padding-left: 2.5em;
}

section {
  padding: 1em;
}

section + section {
  border-top: 1px solid rgba(0, 0, 0, 0.3); /* Cambiado a negro */
}
